body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    list-style-type: none;
}

img {
    display: block;
}

/* Header */
/* Logo */

.header {
    border-bottom: 1px solid #e7e9fc;
} 

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    align-items: center;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.logo {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 76px;
}

.logo-black  {
    color: #2e2f42;
} 

.white-logo {
    color: #f4f4fd;
}

/* Menu  */
.menu-list {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.menu-list .menu-item .menu-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
 }
 
.menu-list .menu-item .menu-link:hover,
.menu-list .menu-item .menu-link:focus {
    color: #404bbf
}

 /* Contacts */

 .address {
     font-style: normal;
 }

.contact {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.contact-list .contact-item {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-list .contact-item:hover,
.contact-list .contact-item:focus {
        color: #404bbf;
}

/* Main */
/* Order Service */

.order {
    font-family: "Roboto", sans-serif;
    background-color: #2e2f42;
    text-align: center;
}

.order-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #fff;
}

.order-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
}

.order-button:hover,
.order-button:focus {
    background-color: #404bbf;
}

/* About us */

.about-us-list {
    font-family: "Roboto", sans-serif;
}
.about-us-title { 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.about-us-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Our crew */
.team-list {
    display: flex;
    gap: 24px;
}

.team {
    font-family: "Roboto", sans-serif;
    background-color: #F4F4FD;
}

.team-list .team-item{
    background-color: #FFFFFF;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}


.team-list .team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list .team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* Our portfolio */

.portfolio {
    font-family: "Roboto", sans-serif;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-list .portfolio-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-list .portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */

.footer {
    font-family: "Roboto", sans-serif;
    background-color: #2e2f42;
}

.footer .footer-text {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

/* Change header */